:root {
    --col-1: 5.556%;
    /* 65px */
    --col-2: 13.675%;
    /* 160px */
    --col-3: 21.795%;
    /* 255px */
    --col-4: 29.915%;
    /* 350px */
    --col-5: 38.889%;
    /* 445px */
    --col-6: 46.154%;
    /* 540px */
    --col-7: 54.274%;
    /* 635px */
    --col-8: 62.393%;
    /* 730px */
    --col-9: 70.513%;
    /* 825px */
    --col-10: 78.632%;
    /* 920px */
    --col-11: 86.752%;
    /* 1015px */
    --col-12: 94.872%;
    /* 1110px */
    --gutters: 1.282%;
    /* margin 15px с каждой стороны */
    --offset-1: calc(var(--col-1) + var(--gutters) * 2);
    /* отступ в одну колонку */
    --offset-2: calc(var(--col-2) + var(--gutters) * 2);
    --offset-3: calc(var(--col-3) + var(--gutters) * 2);
    --offset-4: calc(var(--col-4) + var(--gutters) * 2);
    --offset-5: calc(var(--col-5) + var(--gutters) * 2);
    --offset-6: calc(var(--col-6) + var(--gutters) * 2);
    --offset-7: calc(var(--col-7) + var(--gutters) * 2);
    --offset-8: calc(var(--col-8) + var(--gutters) * 2);
    --offset-9: calc(var(--col-9) + var(--gutters) * 2);
    --offset-10: calc(var(--col-10) + var(--gutters) * 2);
    --offset-11: calc(var(--col-11) + var(--gutters) * 2);
    /* colors */
    --blue: #0099cc;
    --gray: #81868e;
}

.link {
    text-decoration: none;
}

.btn {
    background: var(--blue);
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.875em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

main {
    width: 100%;
    height: 100vh;
    padding-top: 11.023622047244094vh;
}








/*==========
header
==========*/

header {
    width: 100%;
    background: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 3px -4px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
}

.header__logo {
    width: var(--col-2);
    display: block;
    margin-left: calc(var(--gutters)*2);
    z-index: 11;
}

.logo__img {
    width: 125px;
    height: auto;
}

.menu-icon {
    display: none;
    width: 22px;
    height: 22px;
    z-index: 11;
}

.menu-icon:hover {
    cursor: pointer;
}

.menu-icon__span {
    position: relative;
    width: 100%;
    display: block;
    height: 2px;
    background: #222;
    transition: .4s ease;
    border-radius: 2px;
}

.menu-icon__span:before,
.menu-icon__span:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #222;
    top: -8px;
    transition: .4s ease;
    border-radius: 2px;
    transform-origin: 0 50%;
}

.menu-icon__span:after {
    bottom: -8px;
    top: initial;
}

.active .menu-icon__span {
    background: transparent;
}

.active .menu-icon__span:before {
    transform: rotate(45deg);
}

.active .menu-icon__span:after {
    transform: rotate(-45deg);
}

.header__nav {
    width: var(--col-6);
    height: 100%;
    line-height: 70px;
    display: flex;
}

.header__link {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: var(--gray);
    font-size: 0.875rem;
    margin-left: 3.9316239316239314vw;
    display: block;
    transition: color .4s ease;
    position: relative;
    line-height: unset;
    text-align: center;
}

.header__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin: auto;
    width: 0;
    height: 3px;
    background: var(--blue);
    transition: .2s ease;
    transform: translateX(-50%);
}

.header__link:first-child {
    margin-left: 0;
}

.header__link:hover,
.header__link.active {
    color: var(--blue);
}

.header__link:hover:before,
.header__link.active:before {
    width: 5.555555555555555vw;
}

.header__btn {
    width: 18.803%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    z-index: 11;
}








/*==========
page main
==========*/

.main {
    background: url(../img/bg-main.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__h1,
.main__h2,
.main__h3 {
    color: #fff;
    text-transform: uppercase;
}

.main__h1 {
    font-size: 3em;
    font-size: 4.102564102564102vw;
    line-height: 1.5;
}

.main__h2 {
    font-weight: 400;
    font-size: 2.1875em;
    font-size: 3.2478632478632474vw;
}

.main__h3 {
    font-size: 1.125em;
    font-size: 1.5384615384615383vw;
    font-family: "PT Serif", serif;
    font-weight: 400;
    margin-top: 1.574803149606299vh;
    padding-top: 1.574803149606299vh;
    border-top: 1px solid #fff;
}








/*==========
page servises
==========*/

.servises {
    display: flex;
    flex-wrap: wrap;
}

.servises>.option {
    background: #fff;
    box-shadow: -1px 0 0 #b0b3b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 0 20px;
    text-align: center;
    width: 25%;
    height: 100%;
    transition: background .4s ease;
    overflow: hidden;
}

.servises>.option:first-child {
    box-shadow: none;
}

.servises>.option:hover {
    background: #ecebe7;
}

.servises .option__icon {
    margin-top: 18.8034188034188vw;
    transition: margin-top .4s ease;
    width: 6.581196581196581vw;
    height: auto;
}

.servises .option__title {
    font-size: 1rem;
    color: var(--gray);
    text-transform: uppercase;
    margin-top: 3.4188034188034186vw;
    font-weight: 400;
}

.servises .option__text {
    margin-top: 2.1367521367521367vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease, visibility .4s ease;
    font-size: 0.75rem;
}

.servises .option__btn {
    margin-top: 3.4188034188034186vw;
    width: 18.8034188034188vw;
    height: 3.846153846153846vw;
    line-height: 2.625rem;
    background: transparent;
    color: var(--blue);
    border: 1px solid;
    font-size: 1rem;
    text-transform: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease, visibility .4s ease;
    position: relative;
}

.option__btn:before,
.option__btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #ecebe7;
    width: 10%;
    height: 1px;
    transition: transform .4s ease;
}

.option__btn:before {
    bottom: -1px;
    top: initial;
    transform: translateX(-4rem);
}

.option__btn:after {
    top: -1px;
    bottom: initial;
    transform: translateX(4rem);
}

.option__btn:hover:before {
    transform: translateX(4rem);
}

.option__btn:hover:after {

    transform: translateX(-4rem);
}

.servises .option:hover .option__icon {
    margin-top: 10.683760683760683vw;
}

.servises>.option:hover .option__text,
.servises>.option:hover .option__btn {
    opacity: 1;
    visibility: visible;
}


@media screen and (max-width: 1280px) {
    .main__h1 {
        font-size: 3em;
    }
    .main__h2 {
        font-size: 2.1875em;
    }
    .main__h3 {
        font-size: 1.125em;
    }
}

@media screen and (max-width: 1024px) {
    .servises>.option {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 860px) {
    body {
        font-size: 80%;
    }
    header {
        height: 50px;
    }
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__nav {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        transform: translateY(calc(-100% - 50px));
        transition: transform .4s ease;
        z-index: 10;
    }
    .menu-icon.active+.header__nav {
        transform: translateY(0);
    }
    .header__link {
        margin: 0;
        width: 100%;
    }
    .header__btn {
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .servises>.option {
        width: 100%;
        height: 25%;
    }
}