<footer class="footer-wrap">
    <div class="footer content">
        <div class="footer-left">
            <a href="./" class="footer__logo">
                <img src="img/logo.png" alt="" class="footer__img">
            </a>
        </div>
        <div class="footer-right">
            <div class="footer-contacts">
                <div class="contacts-text">
                    <i class="contacts__icon location"></i>
                    <p class="contacts__p">Россия, 219270, Санкт-Петербург,
                        <br /> ул. Новороссийская 6,
                        <br /> бизнес-центр «One», офис 349</p>
                </div>
                <div class="contacts-text">
                    <i class="contacts__icon phone"></i>
                    <a href="tel:+79216962523" class="link">+7 (921) 696-25-23</a>
                </div>
                <div class="contacts-text">
                    <i class="contacts__icon mail"></i>
                    <a href="mailto:and7476@yandex.ru" class="link">and7476@yandex.ru</a>
                </div>
            </div>
            <div class="contacts-copyright">
                <p class="contacts__p">Copyright © 2017 In Law</p>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>