<form action="#0" class="form">
    <input type="text" class="form__input" placeholder="Имя" required pattern="[А-Яа-яЁё]{2,}" title="Русские буквы">
    <input type="tel" class="form__input" placeholder="Телефон" required pattern="[0-9]{5,}" title="не менее 5 цифр">
    <input type="email" class="form__input" placeholder="Email" required>
    <textarea class="form__textarea" placeholder="Ваше сообщение"></textarea>
    <fieldset class="form__checkbox">
        <input type="checkbox" id="checkbox-agree">
        <label class="checkbox__label" for="checkbox-agree">Согласие на&nbsp;обработку персональных данных</label>
    </fieldset>
    <button class="form__button">Отправить</button>
</form>