<header>
    <a href="./" class="header__logo link">
        <img src="img/logo.png" alt="" class="logo__img">
    </a>
    <div class="menu-icon" id="menu">
        <span class="menu-icon__span"></span>
    </div>
    <nav class="header__nav">
        <a href="./" class="header__link link active">ГЛАВНАЯ</a>
        <a href="./about.html" class="header__link link">о&nbsp;бюро</a>
        <a href="./servises.html" class="header__link link">услуги</a>
        <a href="./works.html" class="header__link link">портфолио</a>
        <a href="./contacts.html" class="header__link link">контакты</a>
    </nav>
    <p class="header__btn">
        <a href="#0" class="btn link">записаться на<br />консультацию</a>
    </p>
</header>