<header>
    <div class="header content">
        <a href="./" class="header__logo">
        <img src="img/logo.png" alt="" class="logo__img">
    </a>
        <nav class="header-nav">
            <a href="./" class="header__link link active">ГЛАВНАЯ</a>
            <a href="./about.html" class="header__link link">о&nbsp;бюро</a>
            <a id="header-servises-link" href="./servises.html" class="header__link link" data-name="servises">услуги</a>
            <div id="header-services-subMenu" class="services-subMenu">
                <a href="#0" class="services-subMenu__link link">Судебная практика</a>
                <a href="#0" class="services-subMenu__link link">Корпоративная практика</a>
                <a href="#0" class="services-subMenu__link link">Абонентское юридическое обслуживание бизнеса</a>
                <a href="#0" class="services-subMenu__link link">Договорная практика. Консультации</a>
            </div>
            <a href="./works.html" class="header__link link">портфолио</a>
            <a href="./contacts.html" class="header__link link">контакты</a>
            <a href="#0" class="header__link header__btn link">ОБРАТНАЯ СВЯЗЬ</a>
        </nav>
    </div>
</header>